.container3D {
    width: 90%;
    margin: 0 auto;
    display: flex;
    margin-bottom: 6%;
    box-shadow: 0 0 20px 7px #00a60075;
    border-radius: 12px;
    position: relative;
}

.container3D::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    box-shadow: 0 0 20px 7px #00a600;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: rotateAround 5s linear infinite;
}

.container3D::before {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    box-shadow: 0 0 20px 7px #00a600;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: rotateAround 5s linear infinite;
}

@keyframes rotateAround {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    25% {
        transform: translate(100%, -50%) rotate(90deg);
    }

    50% {
        transform: translate(100%, 100%) rotate(180deg);
    }

    75% {
        transform: translate(-50%, 100%) rotate(270deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}


.container3D div:nth-child(1) {

    width: 50%;
}

.container3D div:nth-child(1) Canvas {
    height: 100% !important;
    width: 100% !important;

}

.container3D div:nth-child(2) {
    max-width: 100%;

    font-size: x-large;
}

.container3D div:nth-child(2) h1 {
    color: #00a600;
}

.container3D div:nth-child(2) progress {
    height: 12px;
    width: 50%;
    appearance: none;
}

.container3D div:nth-child(2) progress::-webkit-progress-bar {
    background: #eeeeee;
    border-radius: 10px;
}

.container3D div:nth-child(2) progress::-webkit-progress-value {
    background: #00a60075;
    border-radius: 10px;
}

.container3D div:nth-child(2) progress::-moz-progress-bar {
    background: #00a600;
    border-radius: 10px;
}

.container3D .imageCer {
    border-radius: 12px;
}

.container3D .imageCer .imagea {
    max-width: 100%;
}

@media (max-width: 1200px) {}

@media (max-width: 768px) {
    .container3D div:nth-child(2) progress {
        width: 12em;
    }
}

@media (max-width: 480px) {
    .container3D {
        display: block;
        margin-bottom: 18%;
    }

    .container3D div:nth-child(1) {
        height: 100%;
        width: 100%;
    }

    .container3D div:nth-child(2) progress {
        width: 12em;
        flex-direction: column;
        align-items: center;
    }

    .container3D .imageCer {
        max-width: 100%;
        flex-direction: column;
        align-items: center;
    }
}