.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    color: rgba(9, 247, 56, 0.768);
    font-size: 16px;
}

header {
    padding: 10px 0;
    text-align: center;
}

.tabs {
    display: flex;
    background-color: #444;
    margin-bottom: 20px;
}

.tab {
    padding: 10px 20px;
    cursor: pointer;
}

.tab:hover,
.tab.active {
    background-color: #555;
}

.content {
    background-color: rgba(255, 255, 255, 0.452);
    padding: 20px;
    border-radius: 8px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

button {
    padding: 5px 10px;
    margin-right: 5px;
    cursor: pointer;
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: black;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}